.container {
    float: center;
    margin: 100px;
}


.btn-submit{
    float:right;
    margin-left: 5pt;
    margin-top: 5pt;
}

.field-input-invalid{
    border: 2px solid red;
}

.row well, .row, .form-group{
    background-color: rgba(255, 255, 255, 0.01);
}

.login-bar{
    float: center;
}

.container {
   
    height: 100%;
}

.well {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 1em;
    
}
.wellInlog {
    margin-right: 1em;
   
}

.mainDiv {
    margin: 100px auto;
}

.row {
    margin: 0 1em;
    margin-top: 10px; 
}



.margin-top {
    margin-top: 8px;
}

.header {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

.header4 {
    text-align: left;
}


.account-form{
    float: center;
}

