<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Find Parking Göteborg</title>
 <base href="/">
 <!-- <script>document.write('<base href="' + document.location + '" />');</script> -->
  {{content-for 'head'}}
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">

  <!-- Service worker support is disabled by default.
       Install the worker script and uncomment to enable.
       Only enable service workers in production.
  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/worker.js').catch(function(err) {
        console.log('Error installing service worker: ', err);
      });
    }
  </script>
  -->
   <style type="text/css">
      body
      {
         background-image: url('http://www.roadtripfilms.net/wp-content/uploads/2015/01/cropped-road-background.jpg');
         /*background-attachment: fixed;*/
         background-size: cover;
      }
   </style>
</head>
<body>
  <meny-goteborg-app>Loading...</meny-goteborg-app>
   <!-- <find-parking-goteborg-app>Loading...</find-parking-goteborg-app> -->

  <script src="vendor/es6-shim/es6-shim.js"></script>
  <script src="vendor/systemjs/dist/system-polyfills.js"></script>
  <script src="vendor/angular2/bundles/angular2-polyfills.js"></script>
  <script src="vendor/systemjs/dist/system.src.js"></script>
  <script src="vendor/rxjs/bundles/Rx.js"></script>

  <script src="vendor/angular2/bundles/angular2.dev.js"></script>
  <script src="vendor/angular2/bundles/http.dev.js"></script>
  <script src="vendor/angular2/bundles/router.dev.js"></script>
  
  <script src="vendor/ng2-bootstrap/bundles/ng2-bootstrap.min.js"></script>
  <script src="https://code.angularjs.org/2.0.0-beta.0/http.dev.js"></script>

  
  <script>
    System.import('system-config.js').then(function(systemConfig) {
      System.config(systemConfig.config);
    }).then(function () {
      System.import('main.js')
    }).catch(console.error.bind(console));
  </script>
</body>
</html>
